*{
  margin: 0;
  padding: 0;
}
.kartu{
  border-radius: 10px;
}

.gambar{
  transition: 700ms;
}
.gambar:hover{
  transform: scale(1.1);
  border-radius: 10px;
}
.gambarContainer{
  border-radius: 10px;
  overflow: hidden;
}
.username:focus{
  outline: transparent;
}
.trailer{
  background-color: transparent;
  height: 500px;
  padding: 0;
}



